@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.colorNav {
  background-color: black !important; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 12px 20px; }

.nav-link {
  color: white; }

.hoverLink:hover {
  background-color: white;
  color: black; }

.logoFisioactive {
  width: 140px;
  height: 110px;
  border: solid white 2px;
  padding: 1px;
  margin: 12px 20px; }

.nav__ul {
  display: flex;
  flex-direction: row; }

.enlace__nav {
  display: inline-block;
  margin: 0px 14px;
  border: 2px solid white;
  padding: 10px;
  border-radius: 10px 10px; }

.enlace__nav a {
  text-decoration: none;
  font-size: 20px;
  color: white; }

.paddingFooter {
  padding: 12vw; }

.textoFooter {
  margin-top: 2rem;
  margin-bottom: 1rem; }

.logoFooter {
  margin-bottom: 1rem; }

.body {
  background-image: linear-gradient(to bottom, black 80%, white);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw; }

h1 {
  display: flex;
  font-weight: bold;
  border: black;
  justify-content: center;
  margin: 1rem 0px; }

main h2 {
  display: flex;
  justify-content: center;
  margin: 1rem 0px; }

.divContainer {
  display: flex;
  border: black 1px solid;
  width: 100%; }

.divContainer__texto {
  display: flex;
  flex-direction: column;
  max-width: 100%; }

.divContainer__texto p {
  text-align: start;
  margin: 16px 16px; }

.caja__menu--lista {
  display: flex;
  flex-direction: column;
  text-align: justify;
  margin: 20px 50px; }

.caja__menu--lista span {
  font-size: 20px;
  margin-bottom: 0.5rem; }

.divContainer__imagen {
  padding: 0px 20px;
  margin: 16px 2px;
  flex-direction: column;
  text-align: end; }

.imgBody {
  width: 400px;
  height: 200px; }

@media (max-width: 768px) {
  .body nav {
    flex-direction: column;
    display: flex; }
  .divContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    max-width: 90%;
    margin: 0 2rem; }
  .imgBody {
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem; }
  .divContainer__imagen {
    text-align: center; }
  .divContainer__imagen {
    width: 100%;
    height: auto; }
  .divContainer__texto p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px; } }

@media (max-width: 420px) {
  /*Tamaño chico*/
  .divContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-content: center;
    max-width: 90%;
    margin: 0 2rem; }
  .body {
    font-size: 16px; }
  main h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 1rem 0px;
    align-items: center; }
  .imgBody {
    width: 80%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 1rem; }
  .divContainer__imagen {
    width: 100%;
    height: auto; }
  .divContainer__texto p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px; } }

.body {
  background-image: linear-gradient(to bottom, black 80%, white);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw; }

.div__quienesSomos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 100%; }

.presentacion__ {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 400px; }

.presentacion__texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px; }

.textoPresentacion {
  text-align: center;
  width: 19rem;
  margin-right: 10rem; }

.licenciado {
  text-decoration: underline;
  width: 19rem;
  margin-right: 10rem; }

.imagenPresentacion {
  width: 400px;
  height: 500px;
  object-fit: cover;
  border-radius: 5px 5px;
  box-shadow: 1px 1px 2px 2px white;
  margin-bottom: 100px; }

@media (max-width: 768px) {
  .div__quienesSomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 100%; }
  .div__quienesSomos h1 {
    font-size: 2rem; }
  .div__quienesSomos h2 {
    font-size: 1rem; }
  .PresentacionesCaja {
    height: auto;
    max-width: 420px;
    margin: 0 auto; }
  .presentacion__ {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0;
    width: 420px;
    height: 100%; }
  .presentacion__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px; }
  .textoPresentacion {
    text-align: center;
    width: 420px;
    margin-right: 2rem;
    font-size: 1rem; }
  .licenciado {
    text-decoration: underline; }
  .imagenPresentacion {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 5px 5px;
    box-shadow: 1px 1px 2px 2px white;
    margin-bottom: 100px; } }

@media (max-width: 420px) {
  .div__quienesSomos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 100%; }
  .div__quienesSomos h1 {
    font-size: 2rem; }
  .div__quienesSomos h2 {
    font-size: 1rem; }
  .PresentacionesCaja {
    height: auto;
    max-width: 420px;
    margin: 0 auto; }
  .presentacion__ {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0;
    width: 420px;
    height: 100%; }
  .presentacion__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px; }
  .textoPresentacion {
    text-align: center;
    width: 420px;
    margin-right: 2rem;
    font-size: 1rem; }
  .licenciado {
    text-decoration: underline; }
  .imagenPresentacion {
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 5px 5px;
    box-shadow: 1px 1px 2px 2px white;
    margin-bottom: 100px; } }

/* SERVICIOS */
.bodyServicios {
  background-image: linear-gradient(to bottom, black 80%, white);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw; }

.containerServicios {
  width: 20rem;
  height: 20rem;
  display: inline-block;
  margin: 0 50px; }

.cardServicios {
  display: inline-block;
  width: 25vw;
  height: 50vh;
  margin: 40px 40px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease; }

.cardServicios:hover {
  box-shadow: 5 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%); }

.imagenServicio {
  width: 100%;
  height: 65%;
  object-fit: cover; }

.contenidoCard {
  color: black;
  text-align: center; }

@media (max-width: 768px) {
  containerServicios {
    width: 20rem;
    height: 20rem;
    display: inline-block;
    margin: 0 auto; }
  .cardServicios {
    display: inline-block;
    width: 80vw;
    height: 60vh;
    margin: 40px 40px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease; }
  .cardServicios:hover {
    box-shadow: 5 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }
  .imagenServicio {
    width: 100%;
    height: 65%;
    object-fit: cover; }
  .contenidoCard {
    color: black;
    text-align: center; } }

@media (max-width: 420px) {
  .containerServicios {
    width: 20rem;
    height: 20rem;
    display: inline-block;
    margin: 0 auto; }
  .cardServicios {
    display: inline-block;
    width: 80vw;
    height: 60vh;
    margin: 40px 40px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease; }
  .cardServicios:hover {
    box-shadow: 5 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%); }
  .imagenServicio {
    width: 100%;
    height: 65%;
    object-fit: cover; }
  .contenidoCard {
    color: black;
    text-align: center; } }

.divDondeEstamos {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.bodyDondeEstamos {
  background-image: linear-gradient(to bottom, black 80%, white);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw; }

.mapa {
  margin: 0 1rem; }

.paddingFooter {
  padding: 12vh; }

.bodyContacto {
  background-image: linear-gradient(to bottom, black 80%, white);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100vw; }

.formulario {
  padding: 0px 3.75rem;
  margin: 0 300px 10px 50px; }

.formulario__1 {
  padding: 15px 0px 15px 20px; }

.comentario {
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  width: 300px;
  max-width: 300px;
  min-width: 300px; }

@media (max-width: 768px) {
  .divDondeEstamos {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .formulario {
    padding: 0px 0.5rem;
    margin: 0 0 10px 20px; }
  .cajaForm {
    width: 90vw; }
  .legend {
    text-align: center; }
  .mapa {
    max-width: 420;
    margin: 50px 3px; } }

@media (max-width: 420px) {
  .divDondeEstamos {
    display: flex;
    flex-direction: column; }
  .formulario {
    padding: 0px 0.5rem;
    margin: 0 0 10px 20px; }
  .cajaForm {
    width: 90vw; }
  .legend {
    text-align: center; }
  .mapa {
    max-width: 420;
    margin: 50px 3px; } }

.EnviarCV {
  background-image: url(https://img.freepik.com/foto-gratis/mujer-que-tiene-sesion-fisioterapia_23-2149115642.jpg?size=626&ext=jpg);
  width: 100vw;
  height: 50vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 6.25rem;
  margin-top: 3rem; }

.tituloEnviarCV {
  color: black;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2em;
  padding: 15vh 0; }

.bannerFisioActive .subtitulo {
  position: relative;
  color: colorSecundario;
  margin-bottom: 0.95em;
  line-height: 45px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center; }

.bannerFisioActive p {
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px; }
