.body{
    background-image: linear-gradient( to bottom, black 80%, white);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    max-width: max-content;
}

.formulario{
    padding: 15px 10px;
    margin: 10px 300px 10px 30px;
      
}

.formulario__1{
    padding: 15px 0px 15px 20px;
}

.comentario{
    height: 60px;
    max-height: 60px;
    min-height: 60px;
    width: 300px;
    max-width: 300px;
    min-width: 300px;
}